#user_type {
position:fixed;
top: 20px;
left: 10px;
width: 420px;
height: 90px;
	font-size: 1.2em;
}
#selection_heading {
position:fixed;
top: 70px;
left: 10px;
width: 420px;
height: 90px;
	font-size: 1.2em;
}
#selection_list {
position:fixed;
top: 180px;
left: 10px;
width: 380px;
height: 800px;
	font-size: 1.2em;
}
#result_heading {
position:fixed;
top: 70px;
left: 500px;
width: 280px;
height: 90px;
	font-size: 1.2em;
}
#result_list {
position:fixed;
top: 180px;
left: 500px;
width: 400px;
height: 800px;
overflow:scroll;
	font-size: 1.3em;
}

