#email 
{
position:absolute;
top:236px;
left:404px;
width:384px;
height:55px;	
background-color:#F5F5F5;
}
#pass 
{
position:absolute;
top:292px;
left:404px;
width:384px;
height:55px;	
background-color:#F5F5F5;
}
#login 
{
position:absolute;
top:401px;
left:404px;
width:60px;
height:60px;	
background-color:#99ffcc;
}
